{% extends "index.html" %} {%block title%}About{%endblock%} {%block body%}
<!-- navbar -->
{%include "navbar.html" %}

<div class="container">
    <div class="row p-2 gy-2">
      <div class="col-sm-4">

  <div class="card" style="width: auto;">
    <img
      src="{{url_for('static',filename='ishita.png')}}"
      alt="Ishita Rastogi"
      width="200"
      height="200"
      class="rounded mx-auto d-block border border-info my-2"
    />
    <div class="container">
      <h4 class="text-center"><b>Ishita Rastogi</b></h4>
     <p>Ishita Rastogi is 2022 batch B.Tech student (CSE Branch) from Moradabad Institute of Technology. Currently she is gaining insights in Cloud Computing and has knowledge regarding Python, C , Java, HTML , CSS</p>
    </div>
  </div>
</div>
<div class="col-sm-4">
  <div class="card" style="width: auto;">
    <img
      src="{{url_for('static',filename='KARTIK.png')}}"
      alt="Kartik Tiwari"
      width="200"
      height="200"
      class="rounded mx-auto d-block border border-info my-2"
    />
    <div class="container">
      <h4 class="text-center"><b>Kartik Tiwari</b></h4>
      <p>Kartik Tiwari is 2022 batch B.Tech student (CSE Branch) from Moradabad Institute of Technology. Currently he is gaining insights in Django and has knowledge regarding Python, AI , ML</p>
    </div>
  </div>
</div>
<div class="col-sm-4">
  <div class="card" style="width: auto;">
    <img
      src="{{url_for('static',filename='ishvinder.jpg')}}"
      alt="Ishvinder Singh"
      width="200"
      height="200"
      class="rounded mx-auto d-block border border-info my-2"
    />
    <div class="container">
      <h4 class="text-center"><b>Ishvinder Singh</b></h4>
      <p>Ishvinder Singh is 2022 batch B.Tech student (CSE Branch) from Moradabad Institute of Technology. He has knowledge regarding C++ , React , Java , Python, C , Java, HTML , CSS</p>
    </div>
  </div>
</div>
</div>
</div>
<div class="container">
  <div class="row p-2 gy-2">
    <div class="col-sm-2"></div>
    <div class="col-sm-4">
  <div class="card" style="width: auto;" >
    <img
      src="{{url_for('static',filename='sanskriti.jpeg')}}"
      alt="Sanskriti Agarwal"
      width="200"
      height="200"
      class="rounded mx-auto d-block border border-info my-2"
    />
    <div class="container">
      <h4 class="text-center"><b>Sanskriti Agarwal</b></h4>
      <p>Sanskriti Agarwal is 2022 batch B.Tech student (CSE Branch) from Moradabad Institute of Technology. Currently she is working in Mamsys Consultancy Services as a software Developer Trainee, hence gaining insights about React and Angular but also has a fine understanding of HTML , CSS , C , C++ and Python </p>
    </div>
  </div>
</div>
<div class="col-sm-4">
  <div class="card" style="width: auto;">
    <img
      src="{{url_for('static',filename='shivansh.jpeg')}}"
      alt="Shivansh Mathur"
      width="200"
      height="200"
      class="rounded mx-auto d-block border border-info my-2"
    />
    <div class="container">
      <h4 class="text-center"><b>Shivansh Mathur</b></h4>
      <p>Shivansh Mathur is 2022 batch B.Tech student (CSE Branch) from Moradabad Institute of Technology. Currently he is placed in Wipro and hence gaining insights on Java and has knowledge regarding Python, C++ , React , Machine Learning , C , Java, HTML , CSS</p>
    </div>
  </div>
</div>
<div class="col-sm-2"></div>
</div>
</div>
</div>
<br>
<br>
<!-- <br>
<br> -->
<div class="container">
  <div class="row">
    <div class="col-md-12" style="background-color: #425773; width: 100%;">
      <!-- <div style="background-color: #425773; width: 100%;" > -->
       <h2 style="color: #ffff; text-align: center;" >About the Project</h2>
       <p style="color: #ffff; text-align: justify;">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
      <img  src="{{url_for('static',filename='exoplanets.png')}}"
      style="align-items: center; margin-left: 100px;
      width: 80%;
      height: 250px"/>
      </div>
    </div>
  <!-- </div> -->
</div>

<!-- adding footer -->
{%include 'footer.html'%}
{%endblock%}
