{% extends "index.html" %}

{%block title%}About{%endblock%}

{%block body%}
<!-- navbar -->
{%include "navbar.html" %}
<div style="width: auto;">
<div class="card" >
    <img src="exoplanet-detection\web\ishita.png"  >
    <div class="container">
      <h4><b>abc</b></h4>
      <p>test project</p>
    </div>
  </div>

  <div class="card" style="width: max-content; ">
    <img src="img_avatar.png"  style="width:50%">
    <div class="container">
      <h4><b>abc</b></h4>
      <p>project</p>
    </div>
  </div>

  <div class="card"  style="width: max-content;">
    <img src="img_avatar.png"  style="width:50%">
    <div class="container">
      <h4><b>abc</b></h4>
      <p>project</p>
    </div>
  </div>

  <div class="card" style="width: max-content;">
    <img src="img_avatar.png"  style="width:50%">
    <div class="container">
      <h4><b>abc</b></h4>
      <p>project</p>
    </div>
  </div>

  <div class="card" style="width: max-content;">
    <img src="img_avatar.png"  style="width:50%">
    <div class="container">
      <h4><b>abc</b></h4>
      <p>project</p>
    </div>
  </div>
</div>
{%endblock%}