<footer class="p-2 bg-dark text-white text-center mt-3">
  <div class="container my-1">
    Exo(P) Detection <br />Created by <br />
    
    <a
      target="blank"
      href="https://www.linkedin.com/in/ishita-rastogi-a00539209/"
      class="text-white mx-2"
      style="text-decoration: none"
      >Ishita</a
    >
    <a
      target="blank"
      href="https://www.linkedin.com/in/ishvinder-chhabra-451101154/"
      class="text-white mx-2"
      style="text-decoration: none"
      >Ishvinder</a
    >
    <a
      target="blank"
      href="https://www.linkedin.com/in/kartik-tiwari-8a08a7209/"
      class="text-white mx-2"
      style="text-decoration: none"
      >Kartik</a
    >
    <a
    target="blank"
    href="https://www.linkedin.com/in/sanskritiagarwal2911/"
    class="text-white mx-2"
    style="text-decoration: none"
    >Sanskriti</a
  >

    <a
      target="blank"
      href="https://www.linkedin.com/in/shivanshmathurr/"
      class="text-white mx-2"
      style="text-decoration: none"
      >Shivansh</a
    >
    <br /> <br />
    ps : Contact us by clicking our names
  </div>
</footer>
